{
  margin: 0;
  Removes all browser settings padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  height: 80px;
  justify-content: flex-end;
}

.shirt-images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.shirt-images>* {
  margin-top: 20px;
}

.header {
  height: 100px;
}

.content {
  background-color: #EAEDF0;
  height: 600px;
}

body {
  color: #414141;
  /*Dark Gray*/
  background-color: #EEEEEE;
  /*Light Gray*/
  margin: 20px 150px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

ol {
  list-style-type: lower-roman;
}

a {
  text-decoration: none;
  color: #414141;
  font-weight: bold;
}

p {
  text-align: left;
}

.navigationbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #414141 background-color: #333;
}

.navigationbar-li {
  float: right;
}

.navigationbar-li-a {
  display: block;
  color: #414141;
  text-align: center;
  padding: 11px 30px;
  text-decoration: none;
}

/* Change the link color to #C8C8C8 (darker gray) on hover */
.navigationbar-li-a:hover {
  background-color: #C8C8C8;
}

.navigationbar-li-a-active {
  display: block;
  color: #414141;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  border: 1px solid black;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    /* Blue */
  }
}